# Pinata API credentials
# Get these from https://app.pinata.cloud/developers/api-keys
VITE_PINATA_API_KEY="af1659d02afbc4442a35"
VITE_PINATA_API_SECRET="ab085a96574f361127f9495800072d27fe9ec29cab729998cdd27a922653688b"
VITE_PINATA_JWT="eyJ1c2VySW5mb3JtYXRpb24iOnsiaWQiOiJiMjAzYTY0NC0yMTAwLTRlYmQtYmY5Mi0wYmUzNjM3YzhjMTUiLCJlbWFpbCI6InRpd2FyaWFua3VzaDgyMzdAZ21haWwuY29tIiwiZW1haWxfdmVyaWZpZWQiOnRydWUsInBpbl9wb2xpY3kiOnsicmVnaW9ucyI6W3siZGVzaXJlZFJlcGxpY2F0aW9uQ291bnQiOjEsImlkIjoiRlJBMSJ9LHsiZGVzaXJlZFJlcGxpY2F0aW9uQ291bnQiOjEsImlkIjoiTllDMSJ9XSwidmVyc2lvbiI6MX0sIm1mYV9lbmFibGVkIjpmYWxzZSwic3RhdHVzIjoiQUNUSVZFIn0sImF1dGhlbnRpY2F0aW9uVHlwZSI6InNjb3BlZEtleSIsInNjb3BlZEtleUtleSI6ImFmMTY1OWQwMmFmYmM0NDQyYTM1Iiwic2NvcGVkS2V5U2VjcmV0IjoiYWIwODVhOTY1NzRmMzYxMTI3Zjk0OTU4MDAwNzJkMjdmZTllYzI5Y2FiNzI5OTk4Y2RkMjdhOTIyNjUzNjg4YiIsImV4cCI6MTc3NzQ4ODgxM30"
